body {
    height: 100vh;
}
#table {
    width: 50vh;
    border-collapse: collapse;
}

#table th, #table td, #table tr {
    border: 1px solid #ddd;
    padding: 8px;

}

#table tr:nth-child(even) {
    background-color: #f2f2f2;

}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    align-items: center;
}

#table tr:hover {
    background-color: #ddd;
}

#table tr{

}

#addWord {
    background-color: greenyellow;
    font-weight: bold;
    width: 25px;
    height: 25px;
}

#backHome {
    background-color: greenyellow;
    font-weight: bold;
    width: 25px;
    height: 25px;
}

button:hover{
    opacity: 70%;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#table button {
    background-color: #fd5c63;
    font-weight: bold;
    width: 25px;
    height: 25px;
    display: inline-block;
}

h1 {
    font-size: 15px;
    color: #353935;
}